<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <link rel="stylesheet" href="../css/anxiety.css" />
      <title>Anxiety</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="../css/guide.css" />
    </head>

    <body>
      <div class="main-content">
        <div class="heading">
          <h1>Anxiety Disorder - Types, Symptoms and Treatment</h1>
        </div>

        <div class="img-wrap">
          <img src="../images/Anxiety-banner.png" alt="" />
        </div>

        <br />
        <br />
        <div class="topic">
          <h2>Content</h2>

          <p></p>
          <ol>
            <li>Anxiety and Anxiety disorder definition</li>
            <li>Types</li>
            <li>Symptoms</li>
            <li>Causes</li>
            <li>When to see a doctor</li>
            <li>Treatment</li>
          </ol>
          <p>
            Anxiety is defined as a diffuse, vague, very unpleasant feeling of
            fear and apprehension. The word anxiety is derived from Latin word
            i.e. “Angere” means to choke or strange. Anxiety is a normal
            response to an actual or perceived threat or to psychological stress
            and is experienced occasionally by everyone. For instance-someone is
            faced with dangerous situation, anxiety induces the fight or flight
            mode. with this response a variety of physical changes such as
            increase blood flow to increase blood flow, to increase heart
            muscles etc. provide body to deal with life threatening situation.
            Anxiety is a negative mood state characterized by bodily symptoms of
            physical tension and by apprehension about the future.
          </p>
          <p>
            Anxiety disorder all have unrealistic, irrational fear or anxieties
            of disabling intensity as their principal and most obvious
            manifestation. An anxiety disorder involves an excessive pr
            inappropriate state of arousal characterized by feeling of
            apprehension, fear or uncertainty. Anxiety disorders are a group of
            mental disorders characterized by significant feelings of anxiety
            and fear.
          </p>
        </div>
        <div class="topic">
          <h2>Types</h2>
          <ol>
            <li>
              <b>Generalized Anxiety Disorder -</b>feeling of excessive,
              realistic worry and tension with little or no reason. GAD is
              diagnosed when a person finds it difficult to control worry on
              more than not for least six months and has three or more symptoms.
              It is also called free-floating anxiety which is defined as
              anxiety that cannot be pinned to nay specific issues. If the
              anxiety is just flow in and out coming and going with no apparent
              cause. People with GAD may anticipate disaster and my be overly
              concerned about money, health, family, work or other issues.
            </li>
            <li>
              <b>Panic Disorder -</b>frequent anxiety attacks characterized by
              feeling of intense terror and dread; unpredictable ‘panic attacks’
              along with psychological symptoms like breathlessness,
              palpitations. It is common in women than men. It can happen
              anytime, anywhere and without warning.
            </li>
            <li>
              <b>Social Anxiety Disorder - </b>intense and incapacitating fear
              and embarrassment when dealing with others characterizes. It is
              also called social phobia. common situations that people tend to
              have trouble with:<br />
              <ul>
                <li>Talking to strangers</li>
                <li>Speaking in public</li>
                <li>Making eye contact</li>
                <li>Entering rooms</li>
                <li>Using public restrooms</li>
                <li>Going to parties</li>
                <li>Eating in front of other people</li>
                <li>Going to school or work</li>
                <li>Starting conversations</li>
              </ul>
            </li>
            <li>
              <b>Specific Phobia - </b>they are the most occurring type pf
              phobia. This include irrational fears such as intense fear of a
              certain type of animal or being in an enclosed space. Common
              categories of specific phobias are a fear of:
              <ul>
                <li>
                  Situations, such as airplanes, enclosed spaces or going to
                  school
                </li>
                <li>Nature, such as thunderstorms or heights</li>
                <li>Animals or insects, such as dogs or spiders</li>
                <li>
                  Blood, injection or injury, such as needles, accidents or
                  medical procedures
                </li>
                <li>
                  Others, such as choking, vomiting, loud noises or clowns
                </li>
              </ul>
            </li>
            <li>
              <b>Agoraphobia -</b>when people develop a fear of entering
              unfamiliar situations. Many agoraphobias are afraid of leaving
              their home. The anxiety cause fear that there is no way to escape
              or get help if the anxiety intensifies. People with agoraphobias
              often have a hard time feeling safe in any public place.
            </li>
            <li>
              <b>Separation Anxiety Disorder -</b>excessive anxiety or even
              panic experienced by children at being separated from their
              parents. Recurrent and excessive distress about anticipating or
              being away from home or loved ones. Constant worry that something
              bad will happen such as being lost or kidnapped. Refusing to be
              away from home because of fear of separation.
            </li>
          </ol>
        </div>
        <div class="topic">
          <h2>Symptoms</h2>
          <p>
            All type of anxiety disorder has one common feature i.e. they cause
            a general problem with the person ability to have a normal everyday
            routine and normal life. Four type of symptoms are: -
          </p>
          <ol>
            <li>
              Physiological/somatic symptoms
              <ul>
                <li>Muscle tension</li>
                <li>Increase heart rate</li>
                <li>Respiration accelerates</li>
                <li>Goosebumps emerges</li>
              </ul>
            </li>
            <li>
              Emotional symptoms
              <ul>
                <li>Sense of dread</li>
                <li>Terror</li>
                <li>Restlessness</li>
                <li>Irritability</li>
              </ul>
            </li>
            <li>
              Cognitive symptoms
              <ul>
                <li>Difficulty in concentration</li>
                <li>Fear of losing control and dying</li>
                <li>Hyper vigilance</li>
                <li>Sense of unreality</li>
              </ul>
            </li>
            <li>
              Behavioral symptoms
              <ul>
                <li>Escape</li>
                <li>Avoidance</li>
                <li>Aggression</li>
                <li>Freezing</li>
                <li>Decrease in appetitive responsibility</li>
              </ul>
            </li>
          </ol>
        </div>
        <div class="topic">
          <h2>Causes of Anxiety Disorder</h2>
          <p>
            Anxiety disorder all have unrealistic irrational fear or anxieties
            of disabling intensity as their principal and most obvious
            manifestations.
          </p>
          <ol>
            <li>
              <b>Biological Factor</b> <br />
              GENES play an important role in determining anxiety. No single
              gene is responsible but there are multiple genes. Contribution
              from collecting of genes in several areas of chromosomes makes us
              vulnerable. Anxiety is also associated with specific brain and
              neurotransmitter system- Benzodiazepine system- a part of GABA
              which increased anxiety. The Noradrenergic system is also
              responsible for anxiety. Corticotropin Releasing Factor
              (CPF)-activates hypothalamic pituitary adrenal cortex system. When
              neurotransmitters are not working properly, the brain’s internal
              communication network breaks down, and the brain may react in an
              inappropriate way in some situations. This can lead to anxiety.
            </li>
            <li>
              <b>Environmental Causes</b> <br />
              Stress in personal relationship, marriage, friendship, and the
              divorce. Stress at work, stress from school, stress about finances
              and money, stress from natural disaster. Trauma from events such
              as abuse, or the death of a loved one.
            </li>
            <li>
              <b>Drug Withdrawal</b> <br />
              Many drugs are used by patients for GAD, panic disorder or social
              disorder are doing because of alcohol or benzodiazepine
              dependence. Anxiety is also a result of INTOXICTION from an
              illicit drug, such as cocaine. Withdrawal from an illicit drug
              such as heroin or from prescription drug like barbiturates.
            </li>
            <li>
              <b>Childhood abuse</b><br />Emotional, and sexual abuse or neglect
              during childhood is linked to anxiety disorder.
            </li>
            <li>
              <b>Negative Life Events</b> <br />
              death of a loved one
            </li>
            <li>
              <b>Trauma</b> <br />
              living through a traumatic event increase the risk of PTSD.
            </li>
            <li>
              <b>Low Self Esteem</b> <br />
              Negative perceptions about yourself may lead to social anxiety
              disorder.
            </li>
            <li>
              <b>Having other mental disorder</b><br />
              Having other mental disorder like depression.
            </li>
          </ol>
        </div>
        <div class="topic">
          <h2>When to see the Doctor</h2>
          <ul>
            <li>
              You experience physical sensation like shaking, shortness of
              breath.
            </li>
            <li>You regularly worry about ruminate about past mistakes.</li>
            <li>You avoid seeking opportunities and taking risk.</li>
          </ul>
        </div>
        <div class="topic">
          <h2>Treatment</h2>
          <p>
            You can refer mental health professional such as psychologists,
            psychiatrist, or a counsellor. Medications, psychotherapy can cure
            anxiety.
          </p>
          <p><b>Medication</b></p>
          <ul>
            <li>
              Antidepressants - modern antidepressants SSRI AND SNRI BUPROPION-
              another type of antidepressant.
            </li>
            <li>
              Benzodiazepines - they help lower anxiety. They work quickly but
              can create dependence.
            </li>
            <li>Buspirone - it is used to treat chronic anxiety.</li>
          </ul>
          <p>
            <b>Psychotherapy</b><br />It includes COGNITIVE BHEGAVIOURAL THERAPY
            (CBT)- CBT was developed by Aron Beck. It helps to identify thoughts
            and emotions that are linked with behaviors. It includes exposure
            therapy, in which you gradually encounter the object or situation
            that triggers your anxiety so you build confidence that you can
            manage the situation and anxiety symptoms.
          </p>
        </div>
      </div>
    </body>
  </html>
</html>
