<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- Open San font link -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- CSS file -->
  <link rel="stylesheet" href="../css/style.css" type="text/css" >
  <title>Live Well</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Live Well</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="#">Guide</a>
          <a class="nav-link" aria-current="page"  href="#" onclick="alert('You must Login First!');" >Get an appointment</a>
          <a class="nav-link" aria-current="page" href="/login">Login</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Landing Banner -->
  <section class="landing-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner-img-box">
            <img src="../images/banner-girl-01.png" class="banner-img img-fluid">
          </div>
        </div>
        <div class="col-lg-6 btn-group-vertical">
          <div class="landing-content-box">
            <h1>Take Care of Yourself</h1>
            <p>We are a team of medical professionals who are here to help you from Whatever you're going through.
              We go by this rule : "There is hope, even when your brain tells you there isn't"
            </p>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
            <a  href="#"  class="btn-appoint" onclick="alert('You must Login First!');" >Book an appointment</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Card Section -->
  <section class="guide">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 text-center">
            <img src="../images/Anxiety.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Anxiety</h5>
              <p class="card-text text-center">Anxiety is a normal response to an actual or perceived threat or to psychological stress and is experienced occasionally by everyone....
        </p>
              <a href="/anxiety" class="btn-read">Read More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center">
            <img src="../images/Depression.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Stress</h5>
              <p class="card-text text-center"> Stress is the feeling of being overwhelmed or unable to cope with mental or emotional pressure. Stress is our body’s response to pressure. Many different situations or life events can cause stress. It is often triggered when we experience something new, unexpected or that threatens our sense of self, or when we feel we have little control over a situation....</p>
              <a href="/stress" class="btn-read">Read More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center">
            <img src="../images/Social Anxiety.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Schrezophenia</h5>
              <p class="card-text text-center">Schizophrenia is a serious and chronic mental illness that impairs a person's thoughts and behavior, and if untreated, can include psychosis....</p>
              <a href="/schizophrenia" class="btn-read">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact US -->
  <section class="contact-us">
    <div class="container">
      <div class="contact-box">
        <div class="row">
          <div class="col-lg-6">
            <div class="contact-img-box">
              <img src="../images/Contact-banner.png" alt="Contact Banner" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6 btn-group-vertical">
            <div class="contact-box-content">
              <h1>Need Help?</h1>
              <a href="#" class="btn-contact">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="footer-content">
        <h1>HACK<span>O</span>N 2.0</h1>
        <p>The first aid to your invisible wounds. Together we spread love and positivity.</p>
        <p>Made with ❤️ by <a href="#">Harshit</a> , <a href="#">Saurav</a> and <a href="#">Srijan</a>.</p>
      </div>
    </div>
    <p class="copyright">Copyright 2021 | Live Well</p>
  </footer>
  <!-- BootStrap JS files -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
</body>
</html>