<html>
  <head>
    <link rel="stylesheet" href="../css/anxiety.css" />
    <title>Schrezophenia</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/guide.css" />
  </head>

  <body>
    <div class="main-content">
      <div class="heading">
        <h1>Schizophrenia</h1>
      </div>

      <div class="img-wrap">
        <img src="../images/schizophrenia-banner.png" alt="" />
      </div>
      <br />
      <br />
      <div class="topic">
        <h2>Content</h2>

        <p></p>
        <ol>
          <li>Symptoms</li>
          <li>Causes</li>
          <li>Treatment</li>
        </ol>
        <p>
          Schizophrenia is a serious and chronic mental illness that impairs a
          person's thoughts and behavior, and if untreated, can include
          psychosis.
        </p>

        <p>
          Schizophrenia is a disabling mental illness that affects more than 1
          percent of the world's population. Individuals afflicted with this
          thought disorder experience hallucinations, disorganized thinking, and
          are prone to false and paranoid beliefs. These and other symptoms
          often render the individual fearful, withdrawn, or difficult to
          interact with.
        </p>

        <p>
          Schizophrenia takes an enormous toll on afflicted families. Many
          people with schizophrenia have difficulty maintaining a job or living
          independently, though it is important to recognize that treatment,
          especially at the onset of symptoms, allows individuals with a
          diagnosis of schizophrenia to lead meaningful, productive lives.
        </p>

        <p>
          Schizophrenia afflicts men and women in equal numbers and is found in
          similar rates in all ethnic groups around the world. The symptom
          presentation and age of onset do differ between the sexes, however.
          Men present with more negative symptoms (see below) and become
          symptomatic at a younger age. The peak age for onset in men is between
          ages 21 and 25. Women are more likely to be diagnosed between ages 25
          and 30, and again after age 45. In women with late onset, hormonal
          changes associated with perimenopause or menopause are thought to be a
          contributing factor but the mechanism is unclear and has been a source
          of debate within the field of psychiatry.
        </p>
        <p>
          Schizophrenia rarely occurs in children, but awareness of
          childhood-onset schizophrenia is increasing. It can be difficult to
          diagnose schizophrenia in teens because the first signs of the illness
          can include withdrawal from friends, a drop in grades, sleep problems,
          and irritability—common adolescent behaviors. The period prior to
          acute onset is known as the prodromal period and often includes
          withdrawing from others, and an increase in unusual thoughts and
          suspicions. It is critical to seek a professional opinion if a
          prodromal period is suspected because early intervention (prior to or
          just following a first psychotic episode) can greatly minimize
          symptoms and alter the course of the disease, leading to much higher
          lifetime functioning.
        </p>
        <p>
          People with schizophrenia may display hostility or aggression. It
          should be noted, however, that the vast majority of people with
          schizophrenia are not aggressive and pose much more danger to
          themselves than to others.
        </p>
        <>Schizophrenia is typically a chronic condition and people with this
        diagnosis cope with symptoms throughout life. However, many people with
        schizophrenia lead rewarding and meaningful lives in their communities.
        <br />
      </div>
      <div class="topic">
        <h2>Symptoms</h2>
        <p>
          The symptoms of schizophrenia are classified by the DSM-5 as positive
          and negative, each of which includes a suite of behaviors. There may
          also be cognitive symptoms, which are harder to detect because
          functioning is already impaired. For a diagnosis to be made, acute
          symptoms must be present for a one-month period, and continuous signs
          of a disturbance must be present for at least six months. Despite the
          severity of their symptoms, many people diagnosed with schizophrenia
          are unaware that they have an illness.
        </p>
        <br />
        <h3>Positive Symptoms</h3>
        <p>
          Positive symptoms refer to the presence of psychotic behaviors not
          seen in healthy people. People with positive symptoms often "lose
          touch" with reality. Positive symptoms include the following:
        </p>
        <ol>
          <li>
            <h4>Hallucinations</h4>
            <p>
              such as hearing voices are common in schizophrenia. Other types of
              hallucinations include seeing people or objects that are not
              there, smelling odors that no one else detects, and feeling things
              like invisible fingers touching the body.
            </p>
          </li>
          <li>
            <h4>Delusions</h4>
            <p>
              are false beliefs that persist even after other people demonstrate
              that the beliefs are not true or logical. People with
              schizophrenia can have delusions that seem bizarre, such as
              believing that neighbors can control their behavior with magnetic
              waves. Sometimes they believe they are someone else, such as a
              famous historical figure. They may have paranoid delusions and
              believe that others are trying to harm them such as hearing voices
              are common in schizophrenia. Other types of hallucinations include
              seeing people or objects that are not there, smelling odors that
              no one else detects, and feeling things like invisible fingers
              touching the body.
            </p>
          </li>
          <li>
            <h4>Thought disorders</h4>
            <p>
              are unusual or dysfunctional ways of thinking. One form of a
              thought disorder is called "disorganized thinking." This is when a
              person has trouble organizing his or her thoughts or connecting
              them logically. They may talk in a confusing way that is hard to
              understand. Another form is called "thought blocking." This is
              when a person stops speaking abruptly in the middle of a thought.
              When asked why he or she stopped talking, the person may say that
              it felt as if the thought had been taken out of his or her head. A
              person with this symptom might make up meaningless words or
              neologisms.
            </p>
          </li>
          <li>
            <h4>Movement disorders</h4>
            <p>
              may appear as agitated body movements. A person with a movement
              disorder may repeat certain motions over and over. In the other
              extreme, a person may become catatonic. Catatonia is a state in
              which a person does not move and does not respond to others.
              Catatonia is rare today, but it was more common when treatment for
              schizophrenia was not available.
            </p>
          </li>
        </ol>
        <br />

        <h3>Negative Symptoms</h3>
        <p>
          Negative symptoms are associated with disruptions to normal emotions
          and behaviors. These symptoms are harder to recognize as part of the
          disorder and can be mistaken for depression or other conditions. These
          symptoms include the following:
        </p>
        <ol>
          <li>
            Flat affect (a person's face does not move or they talk in a dull or
            monotonous voice)
          </li>
          <li>Lack of pleasure in everyday life</li>
          <li>Lack of ability to begin and sustain planned activities</li>
          <li>Speaking little, even when forced to interact</li>
        </ol>
        <p>
          People with negative symptoms need help with everyday tasks. They
          often neglect basic personal hygiene. This may make them seem lazy or
          unwilling to help themselves, but the problems are symptoms caused by
          the disorder.
        </p>
        <br />
        <h3>Cognitive Symptoms</h3>
        <p>
          Cognitive deficits are commonly present in people with schizophrenia,
          but they may be difficult to recognize as part of the disorder. Often,
          they are detected only when other tests are performed. Cognitive
          symptoms include the following:
        </p>
        <ol>
          <li>
            Poor executive functioning (the ability to understand information
            and use it to make decisions)
          </li>
          <li>Trouble focusing or paying attention</li>
          <li>
            Problems with working memory (the ability to use information
            immediately after learning it)
          </li>
          <li>Slower processing speed</li>
        </ol>

        <p>
          Cognitive symptoms often make it hard to lead a normal life and earn a
          living. They can cause a great deal of emotional distress.
          Additionally, the people around an individual with schizophrenia may
          not realize cognitive deficits are present, so they become easily
          frustrated when the individual is increasingly confused or forgetful.
        </p>
        <br />
      </div>
      <div class="topic">
        <h2>Causes</h2>
        <p>Experts think schizophrenia is caused by several factors</p>
        <p>
          <b>Genes and Environment</b>Scientists have long known that
          schizophrenia runs in families. The illness occurs in approximately 1
          percent of the general population, but it occurs in 10 percent of
          people who have a first-degree relative with the disorder, such as a
          parent, brother, or sister. People who have second-degree relatives
          (aunts, uncles, grandparents, or cousins) with the disease also
          develop schizophrenia more often than the general population. The risk
          is highest for an identical twin of a person with schizophrenia. This
          individual has about a 50 percent chance of developing the disorder.
        </p>
        <p>
          Schizophrenia is highly polygenic, meaning it is caused by many
          different genes, none of which alone is sufficient to produce the
          outcome. Behavioral geneticists believe that a polygenic risk score
          (PRS) for schizophrenia is on the horizon, especially for outlier
          cases, meaning those at the highest risk of developing the disorder.
        </p>
      </div>
      <div class="topic">
        <h2>Treatment</h2>
        <p>
          Treatment for schizophrenia focuses on eliminating the symptoms of the
          disease. Treatments include anti-psychotic medications and
          psychotherapy.
          <br />
          It is important to note that people with schizophrenia are at high
          risk for suicide: 5-6 percent of people with schizophrenia die by
          suicide and 20 percent attempt suicide at least once. Seeking help for
          this treatable condition is particularly important to minimize the
          risk of suicide.
        </p>
        <br />
        <h3>Hospitalization</h3>
        <p>
          Hospitalization may be necessary during the acute phase of the illness
          if a person presents a danger to himself or others, or is unable to
          care for himself. Hospitalization is often recommended to ensure that
          the person take necessary medication.
        </p>
        <br />
        <h3>Medication</h3>
        <p>
          Antipsychotics have greatly improved the outlook for individual
          patients as they reduce psychotic symptoms and usually allow the
          patient to function more effectively and appropriately. Antipsychotic
          drugs are currently the best treatment available, but they do not cure
          schizophrenia or ensure that there will be no further psychotic
          episodes.
        </p>
        <br />
        <h3>Psychotherapeutic Treatment</h3>
        <p>
          Therapeutic treatments can help people with schizophrenia who are
          already stabilized on antipsychotic medication. These treatments help
          people deal with the everyday challenges of their illness, such as
          difficulty with communication, self-care, work, and forming and
          keeping relationships. Learning and using coping mechanisms to address
          these problems allows people with schizophrenia to socialize and
          attend school and work.
        </p>
      </div>
    </div>
  </body>
</html>
