@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  position: relative;
  top: 120%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 70%;
  width: 100%;
  background: #fff;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}

.container h2{
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 30px;
  
}

.container .input_field input[type="text"],
.container textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
  
}

.container textarea{
  resize: none;
  height: 80px;
}

.container .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #e0e0e0;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
 .button {
  background-color: #bdc0bd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}